.background-image   {
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../image/home.gif');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
  
}
.Drinktionary{
 color: #47d4d4;
 text-shadow: 0 0 9px #47d4d4   ;
}

.custom-card{
    background-color: #080d19;
    width: 100%;  
    transition: transform 0.3s;

}
.custom-card:hover {
    box-shadow: 0 0 10px 6px #da14ff;
    transform: scale(1.05)
  }
.square{
    padding-top: 10px;
}
.card-title{
    color: #da14ff;
}
.card-text{
    color: #47d4d4;
}

html, body {
    overflow-x: hidden;
    
  }

.body {
    margin: 0;
    padding: 0;
}
.Whole-card{
    padding-left: px;
}
.row{
    padding-left: 20px;
    padding-right:20px;
}
