.skeleton-loader {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding-top: 65px;

}

.skeleton-line {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 40px;
    margin: 19px;
    height: 90px;
    width:  10px;
   
    
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;   
    }
}

.form-control {
    margin-bottom: 10px; 
  }

  .background-image   {
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../image/home.gif');
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.Forms-page{
    color: #47d4d4;
}
